.idea
extra resoursec


echo "# Compiled executables
*.exe
*.o
*.obj



# Local save data
savefile.dat

# Keep source code, ignore the compiled files inside any folders
extra resoursec/*.exe
sprites/*.exe" > .gitignore

READ.txt